
body {
  background-color: lightyellow;   /* 1. sets background color of the page */
}

p {
  color: rgb(255, 0, 0);                    
  font-size: 20px;                 
  text-align: center;             
  font-family: Arial, sans-serif; 
}
